<script src="/plugins/Multiloc/desktop/js/leaflet.js"></script>

<div class="eqLogic eqLogic-widget Resize Multiloc_widget Multiloc" data-version="#version#" style="text-align:center; width: 400px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;height:320px;"	data-eqLogic_id="#id#" data-eqLogic_uid="#uid#">
<link rel="stylesheet" href="plugins/Multiloc/core/template/css/style.css"/>

    <a href="#eqLink#" class="title" style="#hideEqLogicName#">#name_display# <span style="font-size: 0.85em;">#object_name#</span></a>
    <a class="btn cmd volume_up pull-right noRefresh" data-cmd_id="#volume+_id#"  title="Volume+"onclick="cartemodal#id#()"> <i class="fa fa-volume-up"></i></a>

    <div id="map#id#" style="width: 100%; height: 90%;"></div>

    <script type="text/javascript">

    var map#id# = L.map('map#id#').setView([#map_center#], #zoom#);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
        '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox.streets'
    }).addTo(map#id#);

    #icons#         
    #personne#
    #lieu#

    var popup = L.popup();

    function onMapClick#id#(e) {
        popup
        .setLatLng(e.latlng)
        .setContent("loc" + e.latlng.toString())
        .openOn(map#id#);
    }

    map#id#.on('click', onMapClick#id#);


    function cartemodal#id#()
    {
        $('#md_modal').dialog({
            width : 1400,
            height: 662,
            autoOpen: true,
            modal: true,
            refresh: true,
            closeOnEscape: true,
            resizable: true,
            title: '#name_display# - Carte détaillée'
        });
        $('#md_modal').load('index.php?v=d&plugin=Multiloc&modal=carte.Multiloc&id=#id#&dist_loc=#dist_loc#&zoom=#zoom#&map_center=#map_center#');
        $('#md_modal').dialog('open');
    }


    $(document).ready(function () {
        if (!$("link[href='plugins/Multiloc/desktop/css/leaflet.css']").length) {
            $('<link rel="stylesheet" type="text/css" href="plugins/Multiloc/desktop/css/leaflet.css">').appendTo("head");
        }
    });

</script>
</div>
